# binaries
build
dist
wheels
public

# caches and tool artifacts
docs/autodoc
.mypy_cache
.pytest_cache
.coverage
pip-wheel-metadata
poetry.lock
*.py[cod]
*.egg-info
requirements.txt

# dev stuff
.idea
venv
env
flasky.py
